.botoes {
    width: 145px;
    background-image: linear-gradient(rgba(230, 225, 125, 0.6), rgba(235, 99, 80, 0.9));
    padding: 11px;
    font-weight: lighter;
    text-shadow: 1px 2px #eee;
    border-radius: 15px;
}
.botoes:hover {
    background-image: linear-gradient(rgba(235, 99, 80, 0.9), rgba(240, 225, 126, 0.9));
}

form {
    margin: 1px 35% 500px ;
    text-align: center;
}
h1 {
    text-align: center;
    color: cadetblue;
}
